table {
	display: block;
	margin-bottom: 1em;
	width: 100%;
	font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
	font-size: .75em;
	border-collapse: collapse;
	overflow-x: auto
}

table+table {
	margin-top: 1em
}

thead {
	background-color: #c8c7c6;
	border-bottom: 2px solid #fbfbfb
}

th {
	padding: 0.5em;
	font-weight: bold;
	text-align: left
}

td {
	padding: 0.5em;
	border-bottom: 1px solid #969595
}

tr,
td,
th {
	vertical-align: middle
}
