html {
  margin: 0;
  padding: 0;
  min-height: auto !important;
  font-size: 16px
}
body {
  margin: 0 auto;
  background: #fff !important;
  color: #000 !important;
  font-size: 1rem;
  line-height: 1.5;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

//sticky footer
.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site__content {
  flex: 1;

}

// responsive images
img {
  max-width: 100%;
  height: auto;
  width: auto;
  vertical-align: middle;
}

img::selection {
  background: transparent;
}

figure {
  margin: 0;
}
